.header-title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: tan;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*position: fixed;*/
  width: 100vw;
  background-color: white;
}

.header-text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: gray;
}

/*.header-link {
  text-decoration: none;
}*/
