.search-map {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.map {
  width: 100%;
  height: inherit;
}

.search-stuff {
  width: 55vw;
  display: inline-block;
}

.map-stuff {
  height: 100vh;
  position: fixed;
  /*display: inline-block;*/
  width: 45vw;
  margin-left: 55vw;
  order: 1;
}
