.spot-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spot-details {
  order: -1;
}

.spot-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.single-spot-map {
  width: 60vw;
  height: 60vh;
  margin-bottom: 50px;
}

.spot-show-image {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  order: -1;
}

.hr {
  border: 0;
height: 1px;
width: 60vw;
background: lightgray;

}

.title-and-host-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 24px;
}

.host-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host-avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 6px;
}

.host-name {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 12pt;
  font-weight: 300;
}

.spot-show-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #484848;
  font-size: 36pt;
  margin-bottom: 25px;
}

.spot-show-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.spot-show-price {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 25px;
}

.spot-show-header {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 14pt;
  margin-bottom: 20px;
  margin-top: 25px;
  font-weight: bold;
}

.spot-show-body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 12pt;
  font-weight: 300;
  margin-bottom: 25px;
}

.reviews-title {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 25px;
}

.review-form {
  margin-bottom: 35px;
  width: 100%;
  height: 350px;
  margin-bottom: 50px;
}

.review-field {
  width: 100%;
  height: 200px;
  rows: 30;
  box-sizing: border-box;
}

.cancel-button {
  margin-bottom: 24px;
}

.leave-review-button-container {
  height: 57px;
  margin-top: 15px;
  /*display: flex;
  align-items: center;*/
}

.leave-review-button {
  background: #487AB4;
  font-size: 20px;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  width: 300px;
  margin-top: 15px;
  font-family: "Open Sans";
}

.leave-review-login-button {
  background: #487AB4;
  font-size: 20px;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  width: 180.91px;
  height: 47px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Open Sans";
}
