.spot-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spot-details {
  order: -1;
}

.spot-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.single-spot-map {
  width: 60vw;
  height: 60vh;
  margin-bottom: 50px;
}

.spot-show-image {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  order: -1;
}

.hr {
  border: 0;
height: 1px;
width: 60vw;
background: lightgray;

}

.spot-show-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #484848;
  font-size: 30pt;
}

.spot-show-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.spot-show-price {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.spot-show-header {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 14pt;
  margin-bottom: 20px;
  font-weight: bold;
}

.spot-show-body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 12pt;
  font-weight: 300;
  margin-bottom: 20px;
}
