.session-links {
  display: flex;
  justify-content: space-between;
}

.logged-in {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.welcome-message {
  display: inline-block;
}

.logout-button {
  display: inline-block;
  margin-left: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
}
